/** 1312px **/
@media (max-width: 82em) {
  .heading-primary {
    font-size: 5rem;
  }

  .heading-secondary {
    font-size: 4rem;
  }

  .heading-tertiary {
    font-size: 3.2rem;
  }

  .hero-description {
    font-size: 2.2rem;
  }
}

/** 1200px **/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/** 1024px **/
@media (max-width: 64em) {
  .section-hero {
    height: 60vh;
  }

  .about-wrapper,
  .technology-wrapper:first-child {
    grid-template-columns: 2fr 3fr;
  }

  .about-services {
    grid-template-columns: 1fr 1fr;
  }

  .technology-img {
    width: 50rem;
  }
}

@media (max-width: 64em) and (orientation: landscape) {
  .section-hero {
    height: 80vh;
  }
}

/** 912px **/
@media (max-width: 57em) {
  .main-header-logo {
    width: 20rem;
  }

  .main-nav-toggle {
    display: block;
  }

  .main-nav {
    background-color: white;
    /* background-color: rgb(0, 255, 255, 0.97); */
    position: absolute;
    top: 8rem;
    right: -200%;
    width: 270px;
    height: calc(100vh - 8rem);
    transition: all 0.3s ease-in-out;
    z-index: 1999;
    padding: 4rem 2.4rem;
    box-shadow: inset 0 6px 7px -7px rgba(33, 37, 43, 0.15),
      -6px 0px 7px -7px rgba(33, 37, 43, 0.15);
    border-left: 1px solid rgba(33, 37, 43, 0.151);
  }

  .show-menu .main-nav {
    right: 0;
  }

  .main-nav-list {
    align-items: initial;
    flex-direction: column;
    gap: 5rem;
  }

  .main-nav-link-active.main-nav-link {
    position: relative;
  }
  .main-nav-link-active.main-nav-link::before {
    content: "";
    position: absolute;
    background-color: #c92a2a;
    width: 100%;
    height: 0.3rem;
    top: 2.5rem;
    left: 0;
    animation: inherit;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .hero-description {
    font-size: 2rem;
  }

  .about-wrapper,
  .technology-wrapper-box,
  .technology-wrapper:first-child {
    grid-template-columns: 1fr;
  }

  .technology-img {
    grid-row: 2;
  }

  .heading-secondary {
    font-size: 3.4rem;
  }

  .heading-tertiary {
    font-size: 2.5rem;
  }

  .cta-text-box {
    grid-template-columns: 1fr;
  }

  .contact-phone-number {
    margin-bottom: 5rem;
  }
}

/** 768px **/
@media (max-width: 47em) {
  .grid {
    row-gap: 4.6rem;
  }

  .technology-wrapper-box {
    margin-top: 5.6rem;
  }
}

/** 600px **/
@media (max-width: 37.5em) {
  .top-header-container {
    height: 10rem;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .heading-secondary {
    font-size: 2.8rem;
  }

  .heading-tertiary {
    font-size: 2.2rem;
  }

  .subheading {
    font-size: 1.4rem;
  }

  .separator {
    width: 10rem;
  }

  .right-about-wrapper-description,
  .technology-wrapper-description {
    font-size: 1.4rem;
  }

  .about-services {
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
  }

  .technology-img {
    width: 45rem;
  }

  .contact-phone-number {
    font-size: 2.3rem;
  }

  .cta-text-box {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
}

/** 480px **/
@media (max-width: 30em) {
  .container {
    padding: 0 2.4rem;
  }
  .top-header-container {
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
  }

  .main-header-logo {
    width: 18rem;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .heading-secondary {
    font-size: 2.2rem;
  }

  .heading-tertiary {
    font-size: 1.8rem;
  }

  .subheading {
    font-size: 1.3rem;
  }

  .separator {
    width: 9rem;
  }

  .technology-img {
    width: 33rem;
  }
}

/** 348px **/
@media (max-width: 21.75em) {
  html {
    font-size: 43.75%;
  }
  .technology-img {
    width: 35rem;
  }
}

/** 280px **/
@media (max-width: 17.5em) {
  .technology-img {
    width: 30rem;
  }
}

/** 240px **/
@media (max-width: 15em) {
  html {
    font-size: 31.25%;
  }
}

/** LANDSCAPE **/
/**912px**/
@media (orientation: landscape) and (max-width: 57em) {
}
